/****************
*  OPTIMIERUNG  *
*****************/

/* hide unnecessary information */
body.admin_tour_schedule_plans div.header--production,
body.admin_tour_schedule_plans div#summary h3,
body.admin_tour_schedule_plans .col.col-number_of_courier_breaks,
body.admin_tour_schedule_plans .col-stop_count,
body.admin_tour_schedule_plans div.tour--schedule--plan--overview .col:first-child,
body.admin_tour_schedule_plans div.attributes_table > table,
body.admin_tour_schedule_plans ul.OptionsSwitcher {
    display: none !important;
}

/* fix position of calculation button */
body.admin_tour_schedule_plans div.FlexAlign input {
    position: fixed;
    top: 25px;
    right: calc(50vw - 150px);
    z-index: 9999;
    margin: 0px;
    width: 300px;
    border-radius: 10px !important;
}

/* fix position of back-to-top-button */
body.admin_tour_schedule_plans .scroll--to--top {
    position: fixed;
    bottom: 0;
    right: 60px;
    margin: 0;
    padding: 10px;
}

/* set Banner to bottom of map */
body.admin_tour_schedule_plans div.Banner {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100vw - 700px);
    z-index: 999;
    margin: 0px;
}
body.admin_tour_schedule_plans div.Banner div.Banner__content {
    padding: 1em;
}
body.admin_tour_schedule_plans div.Banner div.Banner__content ul {
    margin-top: 0.4em;
    margin-bottom: 0px;
}

/* increase border of dirty map */
body.admin_tour_schedule_plans .Map--dirty {
    border: 8px solid #ef8827;
}

/* delete border gap from card components */
body.admin_tour_schedule_plans div#active_admin_content,
body.admin_tour_schedule_plans .panel_contents {
    padding: 0px !important;
}

/* delete gap between top map and table */ 
body.admin_tour_schedule_plans .column {
    margin: 0px !important;
}

/* map sizing */
body.admin_tour_schedule_plans .column.FlexGrid__col:first-of-type {
    height: calc(100vh - 25px) !important;
    overflow: hidden;
}
body.admin_tour_schedule_plans .column.FlexGrid__col:first-of-type * {
    margin: 0px !important;
}
body.admin_tour_schedule_plans .overview-map {
    width: calc(100vw - 680px) !important;
}

/* overview table sizing */
body.admin_tour_schedule_plans div.tour--schedule--plan--overview {
    height: calc(100vh - 25px);
    overflow: auto;
}
body.admin_tour_schedule_plans div.column.FlexGrid__col:nth-of-type(2) {
    flex: none !important;
    flex-grow: 1 !important;
}

/* minimize height in table rows */
body.admin_tour_schedule_plans div.tour--schedule--plan--overview .col,
body.admin_tour_schedule_plans table.TourPlan .col {
    padding: 2px 8px !important;
}
body.admin_tour_schedule_plans table.TourPlan .col-tour_position {
    padding-left: 16px !important;
}

body.admin_tour_schedule_plans div.tour--schedule--plan--overview tr,
body.admin_tour_schedule_plans div.tour--schedule--plan--overview th {
    height: 1em;
}

/* fix title bar */
body.admin_tour_schedule_plans div#title_bar.title_bar {
    padding: 8px;
    height: 25px;
}

body.admin_tour_schedule_plans div#titlebar_left {
    /*flex-shrink: 100;*/
}
body.admin_tour_schedule_plans h2#page_title {
    font-size: 0.7em;
    max-width: calc(100vw - 50px);
    white-space: nowrap;
    overflow: hidden;
}

body.admin_tour_schedule_plans div#titlebar_right {
    flex-shrink: 0;
    min-width: auto;
}
body.admin_tour_schedule_plans span.action_item a {
    background: white;
    height: 25px;
    padding: 0px 1em !important;
    line-height: 25px !important;
}


/******************
*  FAST DISPATCH  *
*******************/
body.admin_fast_dispatch div.header--production {
    display: none !important;
}
body.admin_fast_dispatch div.columns div.column:nth-of-type(2) > div:nth-child(2) {
    display: none !important;
}
body.admin_fast_dispatch div.tour--list div.panel_contents div.ScrollableContainer {
    height: calc(100vh - 80px);
}
body.admin_fast_dispatch div.title_bar {
    display: none;
}
body.admin_fast_dispatch div#active_admin_content,
body.admin_fast_dispatch div.panel_contents {
    padding: 0px !important;
}
body.admin_fast_dispatch div.column * {
    margin: 0px !important;
}
body.admin_fast_dispatch h3 {
    display: none;
}
body.admin_fast_dispatch div.map-wrapper {
    height: 100vh;
}
