/* OPTIMIERUNG */
body.admin_tour_schedule_plans div.header--production {
    display: none !important;
}
body.admin_tour_schedule_plans div#active_admin_content {
    padding: 0px !important;
}
body.admin_tour_schedule_plans .column {
    margin: 0px !important;
}
body.admin_tour_schedule_plans .panel_contents {
    padding: 0px !important;
}
/* size of map */
body.admin_tour_schedule_plans div.map.Map.Map--large {
    width: calc(100vw - 620px) !important;
    height: calc(100vh - 25px) !important;
}
body.admin_tour_schedule_plans div.FlexAlign input {
    position: fixed;
    top: 25px;
    right: calc(50vw - 150px);
    z-index: 9999;
    margin: 0px;
    width: 300px;
    border-radius: 10px !important;
}

body.admin_tour_schedule_plans div.attributes_table>table {
    display: none;
}
body.admin_tour_schedule_plans div.tour--schedule--plan--overview {
    height: calc(100vh - 25px);
    overflow: auto;
}
body.admin_tour_schedule_plans h2#page_title {
    font-size: 0.7em;
    max-width: 1000px;
    white-space: nowrap;
}
body.admin_tour_schedule_plans div#summary h3 {
    display: none;
}
body.admin_tour_schedule_plans div#title_bar.title_bar {
    padding: 8px;
    height: 25px;
}
body.admin_tour_schedule_plans .col.col-number_of_courier_breaks {
    display: none !important;
}
body.admin_tour_schedule_plans .col-stop_count {
    display: none !important;
}
body.admin_tour_schedule_plans div.tour--schedule--plan--overview .col:first-child {
    display: none !important;
}
body.admin_tour_schedule_plans div.tour--schedule--plan--overview .col {
    padding: 2px 8px !important;
}
body.admin_tour_schedule_plans div.tour--schedule--plan--overview tr,
body.admin_tour_schedule_plans div.tour--schedule--plan--overview th {
    height: 1em;
}
body.admin_tour_schedule_plans span.action_item a {
    background: white;
    height: 25px;
    padding: 0px !important;
    line-height: 25px !important;
}

/* FAST DISPATCH */
body.admin_fast_dispatch div.header--production {
    display: none !important;
}
body.admin_fast_dispatch div.columns div.column:nth-of-type(2) > div:nth-child(2) {
    display: none !important;
}
body.admin_fast_dispatch div.tour--list div.panel_contents div.ScrollableContainer {
    height: calc(100vh - 80px);
}
body.admin_fast_dispatch div.title_bar {
    display: none;
}
body.admin_fast_dispatch div#active_admin_content,
body.admin_fast_dispatch div.panel_contents {
    padding: 0px !important;
}
body.admin_fast_dispatch div.column * {
    margin: 0px !important;
}
body.admin_fast_dispatch h3 {
    display: none;
}
body.admin_fast_dispatch div.map-wrapper {
    height: 100vh;
}
tr.FastDispatch__table-row--highlighted {
    background-color: var(--nord13);
}
tr.FastDispatch__table-row--highlighted > * {
    color: var(--nord3) !important;
}
